.alert{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-primary{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-light{
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark{
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-info{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

