.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    justify-content: center;
    column-gap: 3rem;
    row-gap: 2rem;
}

.product{
    padding: 1.5rem;
    background-color: var(--light-color);
    border-radius: var(--border-radius-3);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.7);
}

.product a{
    color: var(--dark-color);
}

.product__image img{
    aspect-ratio: 16/12;
}

.product__body h3{
    margin-top: 1rem;
}
.product__body p{
    margin-top: 1rem;
    font-size: 1.3rem;
    text-align: right;
}